<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p *ngIf = "chores.length > finishedChores.length">Work harder!</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img src='{{targetImage}}' alt='Image not found.' *ngIf = 'chores.length === 0 || finishedChores.length - chores.length >= 3; else noAllowance'>
</div>
<hr>

<ng-template #noAllowance>
    <p>No allowance yet.</p>
</ng-template>

<h1 *ngIf="(chores.length === 0) && (finishedChores.length >= 4); else noIceCream">Ice cream treat!</h1>

<ng-template #noIceCream>
    <div>
        <h3>How to earn ice cream:</h3>
        <p>You must have completed at least 4 chores and have none left to do.</p>
    </div>
</ng-template>
